In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data2017 = pd.read_csv("/content/drive/My Drive/Movie/desc2017.csv")

In [4]:
data2018 = pd.read_csv("/content/drive/My Drive/Movie/desc2018.csv")
data2019 = pd.read_csv("/content/drive/My Drive/Movie/desc2019.csv")
data2020 = pd.read_csv("/content/drive/My Drive/Movie/desc2020.csv")
data2021 = pd.read_csv("/content/drive/My Drive/Movie/desc2021.csv")
data2022 = pd.read_csv("/content/drive/My Drive/Movie/desc2022.csv")

In [5]:
movies = data2018.append(data2019,ignore_index=True)

In [6]:
movies

,id,overview,tagline,title,comb
0,406563,Parapsychologist Elise Rainier and her team tr...,Fear comes home.,Insidious: The Last Key,Parapsychologist Elise Rainier and her team tr...
1,426258,Mysterious events surround the travels of two ...,NaN,The Strange Ones,Mysterious events surround the travels of two ...
2,348389,A British Special Boat Service commando tracks...,The enemy has a weapon. So do we.,Stratton,A British Special Boat Service commando tracks...
3,468210,In 1929 in the outback of the Northern Territo...,Justice itself is put on trial,Sweet Country,In 1929 in the outback of the Northern Territo...
4,399035,"A businessman, on his daily commute home, gets...",Lives are on the line,The Commuter,"A businessman, on his daily commute home, gets..."
...,...,...,...,...,...
514,431693,Super spy Lance Sterling and scientist Walter ...,Super Spy. Super Fly.,Spies in Disguise,Super spy Lance Sterling and scientist Walter ...
515,331482,Four sisters come of age in America in the aft...,Own your story,Little Women,Four sisters come of age in America in the aft...
516,530915,"At the height of the First World War, two youn...",Time is the enemy,1917,"At the height of the First World War, two youn..."
517,522212,The powerful true story of Harvard-educated la...,Every generation has its hero. Meet ours.,Just Mercy,The powerful true story of Harvard-educated la...
518,565307,Years of carrying out death row executions hav...,NaN,Clemency,Years of carrying out death row executions hav...

In [7]:
movies = movies.append(data2020,ignore_index=True)

In [8]:
movies = movies.append(data2021,ignore_index=True)

In [9]:
movies = movies.append(data2022,ignore_index=True)

In [10]:
movies

,id,overview,tagline,title,comb
0,406563,Parapsychologist Elise Rainier and her team tr...,Fear comes home.,Insidious: The Last Key,Parapsychologist Elise Rainier and her team tr...
1,426258,Mysterious events surround the travels of two ...,NaN,The Strange Ones,Mysterious events surround the travels of two ...
2,348389,A British Special Boat Service commando tracks...,The enemy has a weapon. So do we.,Stratton,A British Special Boat Service commando tracks...
3,468210,In 1929 in the outback of the Northern Territo...,Justice itself is put on trial,Sweet Country,In 1929 in the outback of the Northern Territo...
4,399035,"A businessman, on his daily commute home, gets...",Lives are on the line,The Commuter,"A businessman, on his daily commute home, gets..."
...,...,...,...,...,...
1480,850028,A young woman trapped in an abusive relationsh...,Sometimes the hardest thing to see is the truth.,"Alice, Darling",A young woman trapped in an abusive relationsh...
1481,647808,Catherine Tate's iconic character Nan hits the...,A coming of age movie.,NaN,Catherine Tate's iconic character Nan hits the...
1482,647808,Catherine Tate's iconic character Nan hits the...,A coming of age movie.,NaN,Catherine Tate's iconic character Nan hits the...
1483,647808,Catherine Tate's iconic character Nan hits the...,A coming of age movie.,NaN,Catherine Tate's iconic character Nan hits the...
1484,647808,Catherine Tate's iconic character Nan hits the...,A coming of age movie.,NaN,Catherine Tate's iconic character Nan hits the...

In [11]:
descfinal_data = data2017.append(movies,ignore_index=True)

In [12]:
descfinal_data

,id,overview,tagline,title,comb
0,862,"Led by Woody, Andy's toys live happily in his ...",NaN,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,8844,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,Jumanji,When siblings Judy and Peter discover an encha...
2,15602,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,31357,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,11862,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,Just when George Banks has recovered from his ...
...,...,...,...,...,...
10579,850028,A young woman trapped in an abusive relationsh...,Sometimes the hardest thing to see is the truth.,"Alice, Darling",A young woman trapped in an abusive relationsh...
10580,647808,Catherine Tate's iconic character Nan hits the...,A coming of age movie.,NaN,Catherine Tate's iconic character Nan hits the...
10581,647808,Catherine Tate's iconic character Nan hits the...,A coming of age movie.,NaN,Catherine Tate's iconic character Nan hits the...
10582,647808,Catherine Tate's iconic character Nan hits the...,A coming of age movie.,NaN,Catherine Tate's iconic character Nan hits the...
10583,647808,Catherine Tate's iconic character Nan hits the...,A coming of age movie.,NaN,Catherine Tate's iconic character Nan hits the...

In [13]:
descfinal_data[descfinal_data['title'].isnull()]

,id,overview,tagline,title,comb
10251,647808,Catherine Tate's iconic character Nan hits the...,A coming of age movie.,NaN,Catherine Tate's iconic character Nan hits the...
10580,647808,Catherine Tate's iconic character Nan hits the...,A coming of age movie.,NaN,Catherine Tate's iconic character Nan hits the...
10581,647808,Catherine Tate's iconic character Nan hits the...,A coming of age movie.,NaN,Catherine Tate's iconic character Nan hits the...
10582,647808,Catherine Tate's iconic character Nan hits the...,A coming of age movie.,NaN,Catherine Tate's iconic character Nan hits the...
10583,647808,Catherine Tate's iconic character Nan hits the...,A coming of age movie.,NaN,Catherine Tate's iconic character Nan hits the...

In [14]:
descfinal_data['title'] = descfinal_data['title'].str.lower()

In [15]:
descfinal_data.drop([10251,10580,10581,10582,10583])

,id,overview,tagline,title,comb
0,862,"Led by Woody, Andy's toys live happily in his ...",NaN,toy story,"Led by Woody, Andy's toys live happily in his ..."
1,8844,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,jumanji,When siblings Judy and Peter discover an encha...
2,15602,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,grumpier old men,A family wedding reignites the ancient feud be...
3,31357,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,waiting to exhale,"Cheated on, mistreated and stepped on, the wom..."
4,11862,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,father of the bride part ii,Just when George Banks has recovered from his ...
...,...,...,...,...,...
10575,696157,"The joyous, emotional, heartbreaking celebrati...",Celebrate the untold story of an icon.,i wanna dance with somebody,"The joyous, emotional, heartbreaking celebrati..."
10576,800815,A seasoned detective investigates a series of ...,Every heart tells a tale.,the pale blue eye,A seasoned detective investigates a series of ...
10577,777245,A group of women in an isolated Mennonite comm...,Do nothing. Stay and fight. Leave.,women talking,A group of women in an isolated Mennonite comm...
10578,937278,"The story of Otto Anderson, a grumpy widower w...",Fall in love with the grumpiest man in America.,a man called otto,"The story of Otto Anderson, a grumpy widower w..."
10579,850028,A young woman trapped in an abusive relationsh...,Sometimes the hardest thing to see is the truth.,"alice, darling",A young woman trapped in an abusive relationsh...

In [16]:
descfinal_data.to_csv('descfinal_data.csv',index=False)

In [17]:
from google.colab import files
files.download("descfinal_data.csv")