In [20]:
import numpy as np
import pandas as pd

In [21]:
from ast import literal_eval
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
moviesMeta = pd. read_csv('/content/drive/My Drive/Movie/movies_metadata.csv')
moviesMeta.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [24]:
links = pd.read_csv('/content/drive/My Drive/Movie/links_small.csv')
links = links[links['tmdbId'].notnull()]['tmdbId'].astype('int')
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

moviesMeta['id'] = moviesMeta['id'].apply(convert_int)
moviesMeta[moviesMeta['id'].isnull()]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",NaN,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",NaN,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",NaN,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
moviesMeta = moviesMeta.drop([19730, 29503, 35587])
moviesMeta['id'] = moviesMeta['id'].astype('int')
data = moviesMeta[moviesMeta['id'].isin(links)]
data.shape

(9099, 24)

In [26]:
data = data.loc[:,['id','genres','title']]
data

,id,genres,title
0,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story
1,8844,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji
2,15602,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men
3,31357,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale
4,11862,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II
...,...,...,...
40224,315011,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Shin Godzilla
40503,391698,"[{'id': 99, 'name': 'Documentary'}, {'id': 104...",The Beatles: Eight Days a Week - The Touring Y...
44821,10991,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Pokémon: Spell of the Unknown
44826,12600,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Pokémon 4Ever: Celebi - Voice of the Forest
45265,265189,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Force Majeure

In [27]:
credits = pd.read_csv('/content/drive/My Drive/Movie/credits.csv')
keywords = pd.read_csv('/content/drive/My Drive/Movie/keywords.csv')
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')

In [28]:
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [29]:
keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [30]:
data = data.merge(credits, on='id')
data = data.merge(keywords, on='id')

data = data[data['id'].isin(links)]

In [31]:
data.shape

(9219, 6)

In [32]:
data

,id,genres,title,cast,crew,keywords
0,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,8844,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,15602,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,31357,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,11862,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
...,...,...,...,...,...,...
9214,159550,"[{'id': 18, 'name': 'Drama'}]",The Last Brickmaker in America,"[{'cast_id': 1, 'character': 'Henry Cobb', 'cr...","[{'credit_id': '544475aac3a36819fb000578', 'de...","[{'id': 6054, 'name': 'friendship'}, {'id': 20..."
9215,392572,"[{'id': 53, 'name': 'Thriller'}, {'id': 10749,...",Rustom,"[{'cast_id': 0, 'character': 'Rustom Pavri', '...","[{'credit_id': '5951baf692514129c4016600', 'de...","[{'id': 10540, 'name': 'bollywood'}]"
9216,402672,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",Mohenjo Daro,"[{'cast_id': 0, 'character': 'Sarman', 'credit...","[{'credit_id': '57cd5d3592514179d50018e8', 'de...","[{'id': 10540, 'name': 'bollywood'}]"
9217,315011,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Shin Godzilla,"[{'cast_id': 4, 'character': 'Rando Yaguchi : ...","[{'credit_id': '560892fa92514177550018b2', 'de...","[{'id': 1299, 'name': 'monster'}, {'id': 7671,..."
9218,391698,"[{'id': 99, 'name': 'Documentary'}, {'id': 104...",The Beatles: Eight Days a Week - The Touring Y...,"[{'cast_id': 0, 'character': 'Himself', 'credi...","[{'credit_id': '57057c6cc3a3680dca000285', 'de...","[{'id': 6027, 'name': 'music'}, {'id': 10073, ..."

In [33]:
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))
data['keywords'] = data['keywords'].map(lambda x: ast.literal_eval(x))

In [34]:
def genresList(x):
    gen = []
    st = " "
    for i in x:
        gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [35]:
data

,id,genres,title,cast,crew,keywords
0,862,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,8844,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,15602,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,31357,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Waiting to Exhale,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,11862,"[{'id': 35, 'name': 'Comedy'}]",Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
...,...,...,...,...,...,...
9214,159550,"[{'id': 18, 'name': 'Drama'}]",The Last Brickmaker in America,"[{'cast_id': 1, 'character': 'Henry Cobb', 'cr...","[{'credit_id': '544475aac3a36819fb000578', 'de...","[{'id': 6054, 'name': 'friendship'}, {'id': 20..."
9215,392572,"[{'id': 53, 'name': 'Thriller'}, {'id': 10749,...",Rustom,"[{'cast_id': 0, 'character': 'Rustom Pavri', '...","[{'credit_id': '5951baf692514129c4016600', 'de...","[{'id': 10540, 'name': 'bollywood'}]"
9216,402672,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",Mohenjo Daro,"[{'cast_id': 0, 'character': 'Sarman', 'credit...","[{'credit_id': '57cd5d3592514179d50018e8', 'de...","[{'id': 10540, 'name': 'bollywood'}]"
9217,315011,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",Shin Godzilla,"[{'cast_id': 4, 'character': 'Rando Yaguchi : ...","[{'credit_id': '560892fa92514177550018b2', 'de...","[{'id': 1299, 'name': 'monster'}, {'id': 7671,..."
9218,391698,"[{'id': 99, 'name': 'Documentary'}, {'id': 104...",The Beatles: Eight Days a Week - The Touring Y...,"[{'cast_id': 0, 'character': 'Himself', 'credi...","[{'credit_id': '57057c6cc3a3680dca000285', 'de...","[{'id': 6027, 'name': 'music'}, {'id': 10073, ..."

In [36]:
data['genres'] = data['genres'].map(lambda x: genresList(x))
data['genres']

0                             Animation Comedy Family
1                            Adventure Fantasy Family
2                                      Romance Comedy
3                                Comedy Drama Romance
4                                              Comedy
                            ...
9214                                            Drama
9215                                 Thriller Romance
9216                  Adventure Drama History Romance
9217    Action Adventure Drama Horror Science Fiction
9218                                Documentary Music
Name: genres, Length: 9219, dtype: object

In [37]:
data

,id,genres,title,cast,crew,keywords
0,862,Animation Comedy Family,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,8844,Adventure Fantasy Family,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,15602,Romance Comedy,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,31357,Comedy Drama Romance,Waiting to Exhale,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,11862,Comedy,Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."
...,...,...,...,...,...,...
9214,159550,Drama,The Last Brickmaker in America,"[{'cast_id': 1, 'character': 'Henry Cobb', 'cr...","[{'credit_id': '544475aac3a36819fb000578', 'de...","[{'id': 6054, 'name': 'friendship'}, {'id': 20..."
9215,392572,Thriller Romance,Rustom,"[{'cast_id': 0, 'character': 'Rustom Pavri', '...","[{'credit_id': '5951baf692514129c4016600', 'de...","[{'id': 10540, 'name': 'bollywood'}]"
9216,402672,Adventure Drama History Romance,Mohenjo Daro,"[{'cast_id': 0, 'character': 'Sarman', 'credit...","[{'credit_id': '57cd5d3592514179d50018e8', 'de...","[{'id': 10540, 'name': 'bollywood'}]"
9217,315011,Action Adventure Drama Horror Science Fiction,Shin Godzilla,"[{'cast_id': 4, 'character': 'Rando Yaguchi : ...","[{'credit_id': '560892fa92514177550018b2', 'de...","[{'id': 1299, 'name': 'monster'}, {'id': 7671,..."
9218,391698,Documentary Music,The Beatles: Eight Days a Week - The Touring Y...,"[{'cast_id': 0, 'character': 'Himself', 'credi...","[{'credit_id': '57057c6cc3a3680dca000285', 'de...","[{'id': 6027, 'name': 'music'}, {'id': 10073, ..."

In [38]:
data['keywords'] = data['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [39]:
# def keywordsList(x):
#     keywords = []
#     st = " "
#     for i in x:
#         keywords.append(i.get('name'))
#     if keywords == []:
#         return np.NaN
#     else:
#         return (keywords)

In [40]:
# data['keywords'] = data['keywords'].map(lambda x: keywordsList(x))
# data

In [41]:
type(data['keywords'])

pandas.core.series.Series

In [42]:
s = data.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'keyword'
s = s.value_counts()
s[:5]

<ipython-input-42-04a98f93275e>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = data.apply(lambda x: pd.Series(x['keywords']),axis=1).stack().reset_index(level=1, drop=True)

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keyword, dtype: int64

In [43]:
s = s[s > 1]
stemmer = SnowballStemmer('english')

In [44]:
def keywordsFiltered(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words

In [45]:
data

,id,genres,title,cast,crew,keywords
0,862,Animation Comedy Family,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[jealousy, toy, boy, friendship, friends, riva..."
1,8844,Adventure Fantasy Family,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[board game, disappearance, based on children'..."
2,15602,Romance Comedy,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[fishing, best friend, duringcreditsstinger, o..."
3,31357,Comedy Drama Romance,Waiting to Exhale,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[based on novel, interracial relationship, sin..."
4,11862,Comedy,Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[baby, midlife crisis, confidence, aging, daug..."
...,...,...,...,...,...,...
9214,159550,Drama,The Last Brickmaker in America,"[{'cast_id': 1, 'character': 'Henry Cobb', 'cr...","[{'credit_id': '544475aac3a36819fb000578', 'de...","[friendship, brick making]"
9215,392572,Thriller Romance,Rustom,"[{'cast_id': 0, 'character': 'Rustom Pavri', '...","[{'credit_id': '5951baf692514129c4016600', 'de...",[bollywood]
9216,402672,Adventure Drama History Romance,Mohenjo Daro,"[{'cast_id': 0, 'character': 'Sarman', 'credit...","[{'credit_id': '57cd5d3592514179d50018e8', 'de...",[bollywood]
9217,315011,Action Adventure Drama Horror Science Fiction,Shin Godzilla,"[{'cast_id': 4, 'character': 'Rando Yaguchi : ...","[{'credit_id': '560892fa92514177550018b2', 'de...","[monster, godzilla, giant monster, destruction..."
9218,391698,Documentary Music,The Beatles: Eight Days a Week - The Touring Y...,"[{'cast_id': 0, 'character': 'Himself', 'credi...","[{'credit_id': '57057c6cc3a3680dca000285', 'de...","[music, documentary]"

In [46]:
type(data['keywords'])

pandas.core.series.Series

In [47]:
type(s)

pandas.core.series.Series

In [48]:
data['keywords'] = data['keywords'].apply(keywordsFiltered)
data['keywords'] = data['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])

In [49]:
data

,id,genres,title,cast,crew,keywords
0,862,Animation Comedy Family,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[jealousi, toy, boy, friendship, friend, rival..."
1,8844,Adventure Fantasy Family,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[board gam, disappear, based on children's boo..."
2,15602,Romance Comedy,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[fish, best friend, duringcreditssting]"
3,31357,Comedy Drama Romance,Waiting to Exhale,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[based on novel, interracial relationship, sin..."
4,11862,Comedy,Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[babi, midlife crisi, confid, age, daughter, m..."
...,...,...,...,...,...,...
9214,159550,Drama,The Last Brickmaker in America,"[{'cast_id': 1, 'character': 'Henry Cobb', 'cr...","[{'credit_id': '544475aac3a36819fb000578', 'de...",[friendship]
9215,392572,Thriller Romance,Rustom,"[{'cast_id': 0, 'character': 'Rustom Pavri', '...","[{'credit_id': '5951baf692514129c4016600', 'de...",[bollywood]
9216,402672,Adventure Drama History Romance,Mohenjo Daro,"[{'cast_id': 0, 'character': 'Sarman', 'credit...","[{'credit_id': '57cd5d3592514179d50018e8', 'de...",[bollywood]
9217,315011,Action Adventure Drama Horror Science Fiction,Shin Godzilla,"[{'cast_id': 4, 'character': 'Rando Yaguchi : ...","[{'credit_id': '560892fa92514177550018b2', 'de...","[monster, godzilla, giant monst, destruct, kaiju]"
9218,391698,Documentary Music,The Beatles: Eight Days a Week - The Touring Y...,"[{'cast_id': 0, 'character': 'Himself', 'credi...","[{'credit_id': '57057c6cc3a3680dca000285', 'de...","[music, documentari]"

In [50]:
data['keywords'] = data['keywords'].map(lambda x: " ".join(x))
data['keywords']

0       jealousi toy boy friendship friend rivalri boy...
1       board gam disappear based on children's book n...
2                     fish best friend duringcreditssting
3       based on novel interracial relationship single...
4       babi midlife crisi confid age daughter mother ...
                              ...
9214                                           friendship
9215                                            bollywood
9216                                            bollywood
9217          monster godzilla giant monst destruct kaiju
9218                                    music documentari
Name: keywords, Length: 9219, dtype: object

In [51]:
data

,id,genres,title,cast,crew,keywords
0,862,Animation Comedy Family,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",jealousi toy boy friendship friend rivalri boy...
1,8844,Adventure Fantasy Family,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",board gam disappear based on children's book n...
2,15602,Romance Comedy,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",fish best friend duringcreditssting
3,31357,Comedy Drama Romance,Waiting to Exhale,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",based on novel interracial relationship single...
4,11862,Comedy,Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",babi midlife crisi confid age daughter mother ...
...,...,...,...,...,...,...
9214,159550,Drama,The Last Brickmaker in America,"[{'cast_id': 1, 'character': 'Henry Cobb', 'cr...","[{'credit_id': '544475aac3a36819fb000578', 'de...",friendship
9215,392572,Thriller Romance,Rustom,"[{'cast_id': 0, 'character': 'Rustom Pavri', '...","[{'credit_id': '5951baf692514129c4016600', 'de...",bollywood
9216,402672,Adventure Drama History Romance,Mohenjo Daro,"[{'cast_id': 0, 'character': 'Sarman', 'credit...","[{'credit_id': '57cd5d3592514179d50018e8', 'de...",bollywood
9217,315011,Action Adventure Drama Horror Science Fiction,Shin Godzilla,"[{'cast_id': 4, 'character': 'Rando Yaguchi : ...","[{'credit_id': '560892fa92514177550018b2', 'de...",monster godzilla giant monst destruct kaiju
9218,391698,Documentary Music,The Beatles: Eight Days a Week - The Touring Y...,"[{'cast_id': 0, 'character': 'Himself', 'credi...","[{'credit_id': '57057c6cc3a3680dca000285', 'de...",music documentari

In [52]:
data['cast'] = data['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [53]:
data['cast'] = data['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [54]:
data

,id,genres,title,cast,crew,keywords
0,862,Animation Comedy Family,Toy Story,"[tomhanks, timallen, donrickles, jimvarney, wa...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",jealousi toy boy friendship friend rivalri boy...
1,8844,Adventure Fantasy Family,Jumanji,"[robinwilliams, jonathanhyde, kirstendunst, br...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",board gam disappear based on children's book n...
2,15602,Romance Comedy,Grumpier Old Men,"[waltermatthau, jacklemmon, ann-margret, sophi...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",fish best friend duringcreditssting
3,31357,Comedy Drama Romance,Waiting to Exhale,"[whitneyhouston, angelabassett, lorettadevine,...","[{'credit_id': '52fe44779251416c91011acb', 'de...",based on novel interracial relationship single...
4,11862,Comedy,Father of the Bride Part II,"[stevemartin, dianekeaton, martinshort, kimber...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",babi midlife crisi confid age daughter mother ...
...,...,...,...,...,...,...
9214,159550,Drama,The Last Brickmaker in America,"[sidneypoitier, wendycrewson, jayo.sanders, ma...","[{'credit_id': '544475aac3a36819fb000578', 'de...",friendship
9215,392572,Thriller Romance,Rustom,"[akshaykumar, ileanad'cruz, eshagupta, arjanba...","[{'credit_id': '5951baf692514129c4016600', 'de...",bollywood
9216,402672,Adventure Drama History Romance,Mohenjo Daro,"[hrithikroshan, poojahegde, kabirbedi, arunoda...","[{'credit_id': '57cd5d3592514179d50018e8', 'de...",bollywood
9217,315011,Action Adventure Drama Horror Science Fiction,Shin Godzilla,"[hirokihasegawa, yutakatakenouchi, satomiishih...","[{'credit_id': '560892fa92514177550018b2', 'de...",monster godzilla giant monst destruct kaiju
9218,391698,Documentary Music,The Beatles: Eight Days a Week - The Touring Y...,"[paulmccartney, ringostarr, johnlennon, george...","[{'credit_id': '57057c6cc3a3680dca000285', 'de...",music documentari

In [55]:
# data['actor1'],data['actor2'],data['actor3'] = data['cast'].map(lambda x: x[0] for )
data['actor1']=data['cast'].map(lambda x:x[0] if len(x) >=1 else x)
data['actor2']=data['cast'].map(lambda x:x[1] if len(x) >=2 else x)
data['actor3']=data['cast'].map(lambda x:x[2] if len(x) >=3 else x)

In [56]:
data

,id,genres,title,cast,crew,keywords,actor1,actor2,actor3
0,862,Animation Comedy Family,Toy Story,"[tomhanks, timallen, donrickles, jimvarney, wa...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",jealousi toy boy friendship friend rivalri boy...,tomhanks,timallen,donrickles
1,8844,Adventure Fantasy Family,Jumanji,"[robinwilliams, jonathanhyde, kirstendunst, br...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",board gam disappear based on children's book n...,robinwilliams,jonathanhyde,kirstendunst
2,15602,Romance Comedy,Grumpier Old Men,"[waltermatthau, jacklemmon, ann-margret, sophi...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",fish best friend duringcreditssting,waltermatthau,jacklemmon,ann-margret
3,31357,Comedy Drama Romance,Waiting to Exhale,"[whitneyhouston, angelabassett, lorettadevine,...","[{'credit_id': '52fe44779251416c91011acb', 'de...",based on novel interracial relationship single...,whitneyhouston,angelabassett,lorettadevine
4,11862,Comedy,Father of the Bride Part II,"[stevemartin, dianekeaton, martinshort, kimber...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",babi midlife crisi confid age daughter mother ...,stevemartin,dianekeaton,martinshort
...,...,...,...,...,...,...,...,...,...
9214,159550,Drama,The Last Brickmaker in America,"[sidneypoitier, wendycrewson, jayo.sanders, ma...","[{'credit_id': '544475aac3a36819fb000578', 'de...",friendship,sidneypoitier,wendycrewson,jayo.sanders
9215,392572,Thriller Romance,Rustom,"[akshaykumar, ileanad'cruz, eshagupta, arjanba...","[{'credit_id': '5951baf692514129c4016600', 'de...",bollywood,akshaykumar,ileanad'cruz,eshagupta
9216,402672,Adventure Drama History Romance,Mohenjo Daro,"[hrithikroshan, poojahegde, kabirbedi, arunoda...","[{'credit_id': '57cd5d3592514179d50018e8', 'de...",bollywood,hrithikroshan,poojahegde,kabirbedi
9217,315011,Action Adventure Drama Horror Science Fiction,Shin Godzilla,"[hirokihasegawa, yutakatakenouchi, satomiishih...","[{'credit_id': '560892fa92514177550018b2', 'de...",monster godzilla giant monst destruct kaiju,hirokihasegawa,yutakatakenouchi,satomiishihara
9218,391698,Documentary Music,The Beatles: Eight Days a Week - The Touring Y...,"[paulmccartney, ringostarr, johnlennon, george...","[{'credit_id': '57057c6cc3a3680dca000285', 'de...",music documentari,paulmccartney,ringostarr,johnlennon

In [57]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
          return str.lower(i['name'].replace(" ", ""))
    return np.nan

In [58]:
data['director'] = data['crew'].apply(get_director)

In [59]:
data

,id,genres,title,cast,crew,keywords,actor1,actor2,actor3,director
0,862,Animation Comedy Family,Toy Story,"[tomhanks, timallen, donrickles, jimvarney, wa...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",jealousi toy boy friendship friend rivalri boy...,tomhanks,timallen,donrickles,johnlasseter
1,8844,Adventure Fantasy Family,Jumanji,"[robinwilliams, jonathanhyde, kirstendunst, br...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",board gam disappear based on children's book n...,robinwilliams,jonathanhyde,kirstendunst,joejohnston
2,15602,Romance Comedy,Grumpier Old Men,"[waltermatthau, jacklemmon, ann-margret, sophi...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",fish best friend duringcreditssting,waltermatthau,jacklemmon,ann-margret,howarddeutch
3,31357,Comedy Drama Romance,Waiting to Exhale,"[whitneyhouston, angelabassett, lorettadevine,...","[{'credit_id': '52fe44779251416c91011acb', 'de...",based on novel interracial relationship single...,whitneyhouston,angelabassett,lorettadevine,forestwhitaker
4,11862,Comedy,Father of the Bride Part II,"[stevemartin, dianekeaton, martinshort, kimber...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",babi midlife crisi confid age daughter mother ...,stevemartin,dianekeaton,martinshort,charlesshyer
...,...,...,...,...,...,...,...,...,...,...
9214,159550,Drama,The Last Brickmaker in America,"[sidneypoitier, wendycrewson, jayo.sanders, ma...","[{'credit_id': '544475aac3a36819fb000578', 'de...",friendship,sidneypoitier,wendycrewson,jayo.sanders,greggchampion
9215,392572,Thriller Romance,Rustom,"[akshaykumar, ileanad'cruz, eshagupta, arjanba...","[{'credit_id': '5951baf692514129c4016600', 'de...",bollywood,akshaykumar,ileanad'cruz,eshagupta,tinusureshdesai
9216,402672,Adventure Drama History Romance,Mohenjo Daro,"[hrithikroshan, poojahegde, kabirbedi, arunoda...","[{'credit_id': '57cd5d3592514179d50018e8', 'de...",bollywood,hrithikroshan,poojahegde,kabirbedi,ashutoshgowariker
9217,315011,Action Adventure Drama Horror Science Fiction,Shin Godzilla,"[hirokihasegawa, yutakatakenouchi, satomiishih...","[{'credit_id': '560892fa92514177550018b2', 'de...",monster godzilla giant monst destruct kaiju,hirokihasegawa,yutakatakenouchi,satomiishihara,hideakianno
9218,391698,Documentary Music,The Beatles: Eight Days a Week - The Touring Y...,"[paulmccartney, ringostarr, johnlennon, george...","[{'credit_id': '57057c6cc3a3680dca000285', 'de...",music documentari,paulmccartney,ringostarr,johnlennon,ronhoward

In [60]:
# data['director'] = data['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))

In [61]:
data

,id,genres,title,cast,crew,keywords,actor1,actor2,actor3,director
0,862,Animation Comedy Family,Toy Story,"[tomhanks, timallen, donrickles, jimvarney, wa...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",jealousi toy boy friendship friend rivalri boy...,tomhanks,timallen,donrickles,johnlasseter
1,8844,Adventure Fantasy Family,Jumanji,"[robinwilliams, jonathanhyde, kirstendunst, br...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",board gam disappear based on children's book n...,robinwilliams,jonathanhyde,kirstendunst,joejohnston
2,15602,Romance Comedy,Grumpier Old Men,"[waltermatthau, jacklemmon, ann-margret, sophi...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",fish best friend duringcreditssting,waltermatthau,jacklemmon,ann-margret,howarddeutch
3,31357,Comedy Drama Romance,Waiting to Exhale,"[whitneyhouston, angelabassett, lorettadevine,...","[{'credit_id': '52fe44779251416c91011acb', 'de...",based on novel interracial relationship single...,whitneyhouston,angelabassett,lorettadevine,forestwhitaker
4,11862,Comedy,Father of the Bride Part II,"[stevemartin, dianekeaton, martinshort, kimber...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",babi midlife crisi confid age daughter mother ...,stevemartin,dianekeaton,martinshort,charlesshyer
...,...,...,...,...,...,...,...,...,...,...
9214,159550,Drama,The Last Brickmaker in America,"[sidneypoitier, wendycrewson, jayo.sanders, ma...","[{'credit_id': '544475aac3a36819fb000578', 'de...",friendship,sidneypoitier,wendycrewson,jayo.sanders,greggchampion
9215,392572,Thriller Romance,Rustom,"[akshaykumar, ileanad'cruz, eshagupta, arjanba...","[{'credit_id': '5951baf692514129c4016600', 'de...",bollywood,akshaykumar,ileanad'cruz,eshagupta,tinusureshdesai
9216,402672,Adventure Drama History Romance,Mohenjo Daro,"[hrithikroshan, poojahegde, kabirbedi, arunoda...","[{'credit_id': '57cd5d3592514179d50018e8', 'de...",bollywood,hrithikroshan,poojahegde,kabirbedi,ashutoshgowariker
9217,315011,Action Adventure Drama Horror Science Fiction,Shin Godzilla,"[hirokihasegawa, yutakatakenouchi, satomiishih...","[{'credit_id': '560892fa92514177550018b2', 'de...",monster godzilla giant monst destruct kaiju,hirokihasegawa,yutakatakenouchi,satomiishihara,hideakianno
9218,391698,Documentary Music,The Beatles: Eight Days a Week - The Touring Y...,"[paulmccartney, ringostarr, johnlennon, george...","[{'credit_id': '57057c6cc3a3680dca000285', 'de...",music documentari,paulmccartney,ringostarr,johnlennon,ronhoward

In [62]:
data= data.loc[:,['id','director','actor1','actor2','actor3','genres','keywords','title']]

In [63]:
data

,id,director,actor1,actor2,actor3,genres,keywords,title
0,862,johnlasseter,tomhanks,timallen,donrickles,Animation Comedy Family,jealousi toy boy friendship friend rivalri boy...,Toy Story
1,8844,joejohnston,robinwilliams,jonathanhyde,kirstendunst,Adventure Fantasy Family,board gam disappear based on children's book n...,Jumanji
2,15602,howarddeutch,waltermatthau,jacklemmon,ann-margret,Romance Comedy,fish best friend duringcreditssting,Grumpier Old Men
3,31357,forestwhitaker,whitneyhouston,angelabassett,lorettadevine,Comedy Drama Romance,based on novel interracial relationship single...,Waiting to Exhale
4,11862,charlesshyer,stevemartin,dianekeaton,martinshort,Comedy,babi midlife crisi confid age daughter mother ...,Father of the Bride Part II
...,...,...,...,...,...,...,...,...
9214,159550,greggchampion,sidneypoitier,wendycrewson,jayo.sanders,Drama,friendship,The Last Brickmaker in America
9215,392572,tinusureshdesai,akshaykumar,ileanad'cruz,eshagupta,Thriller Romance,bollywood,Rustom
9216,402672,ashutoshgowariker,hrithikroshan,poojahegde,kabirbedi,Adventure Drama History Romance,bollywood,Mohenjo Daro
9217,315011,hideakianno,hirokihasegawa,yutakatakenouchi,satomiishihara,Action Adventure Drama Horror Science Fiction,monster godzilla giant monst destruct kaiju,Shin Godzilla
9218,391698,ronhoward,paulmccartney,ringostarr,johnlennon,Documentary Music,music documentari,The Beatles: Eight Days a Week - The Touring Y...

In [64]:
data['title'] = data['title'].str.lower()
data['actor1'] = data['actor1'].str.lower()
data['actor2'] = data['actor2'].str.lower()
data['actor3'] = data['actor3'].str.lower()
# data['director'] = data['director'].str.lower()
data['comb'] = data['genres'] + ' ' + data['keywords'] + ' '  + data['actor1'] + ' '  + data['actor2'] + ' '  + data['actor3'] + ' ' + data['director']

In [65]:
data

,id,director,actor1,actor2,actor3,genres,keywords,title,comb
0,862,johnlasseter,tomhanks,timallen,donrickles,Animation Comedy Family,jealousi toy boy friendship friend rivalri boy...,toy story,Animation Comedy Family jealousi toy boy frien...
1,8844,joejohnston,robinwilliams,jonathanhyde,kirstendunst,Adventure Fantasy Family,board gam disappear based on children's book n...,jumanji,Adventure Fantasy Family board gam disappear b...
2,15602,howarddeutch,waltermatthau,jacklemmon,ann-margret,Romance Comedy,fish best friend duringcreditssting,grumpier old men,Romance Comedy fish best friend duringcreditss...
3,31357,forestwhitaker,whitneyhouston,angelabassett,lorettadevine,Comedy Drama Romance,based on novel interracial relationship single...,waiting to exhale,Comedy Drama Romance based on novel interracia...
4,11862,charlesshyer,stevemartin,dianekeaton,martinshort,Comedy,babi midlife crisi confid age daughter mother ...,father of the bride part ii,Comedy babi midlife crisi confid age daughter ...
...,...,...,...,...,...,...,...,...,...
9214,159550,greggchampion,sidneypoitier,wendycrewson,jayo.sanders,Drama,friendship,the last brickmaker in america,Drama friendship sidneypoitier wendycrewson ja...
9215,392572,tinusureshdesai,akshaykumar,ileanad'cruz,eshagupta,Thriller Romance,bollywood,rustom,Thriller Romance bollywood akshaykumar ileanad...
9216,402672,ashutoshgowariker,hrithikroshan,poojahegde,kabirbedi,Adventure Drama History Romance,bollywood,mohenjo daro,Adventure Drama History Romance bollywood hrit...
9217,315011,hideakianno,hirokihasegawa,yutakatakenouchi,satomiishihara,Action Adventure Drama Horror Science Fiction,monster godzilla giant monst destruct kaiju,shin godzilla,Action Adventure Drama Horror Science Fiction ...
9218,391698,ronhoward,paulmccartney,ringostarr,johnlennon,Documentary Music,music documentari,the beatles: eight days a week - the touring y...,Documentary Music music documentari paulmccart...

In [66]:
data.to_csv('movies2017.csv',index=False)

In [67]:
from google.colab import files
files.download("movies2017.csv")